---
import Cisco from "../assets/cisco_logo.png";
import HP from "../assets/hp_logo.png";
import Intel from "../assets/intel_logo.png";
import Epson from "../assets/epson_logo.png";
import Microsoft from "../assets/Microsoft_logo.png";
---

<div class="w-full">
    <ul class="flex justify-evenly items-center">
        <li><img src={Cisco.src} alt="" class="w-24"></li>
        <li><img src={HP.src} alt="" class="w-16"></li>
        <li><img src={Intel.src} alt="" class="w-24"></li>
        <li><img src={Epson.src} alt="" class="w-24"></li>
        <li><img src={Microsoft.src} alt="" class="w-24"></li>
    </ul>
</div>